<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>ユーザ編集</h2>
      </div>
      <div class="panel-body">
        <%= render "form", user: @user %>
      </div>
    </div>
  </div>
</div>