<%= render "form" %>

<div class="row">

  <%= render "result_log", log: @log1, num: "1" %>
  <%= render "result_log", log: @log2, num: "2" %>
  <%= render "result_goal", goal: @goal %>
  
</div>

<div class="modal" id="modal">
