<div class="row">
  <div class="col s12 m6 l6">
    <div class="card animated slideInUp hoverable">
      <div class="card-content">
        <div class="btn-floating btn-medium waves-effect waves-light orange darken-1 center-align modal-trigger" data-target="modal">
          <%= link_to new_goal_path, remote: true do %><i class="material-icons">add</i><% end %>
        </div>
        <span class="weight-card">目標を設定しよう</span>
      </div>
    </div>
  </div>
</div>