<div class="row">
  <div class="col s12 m6 l6">
    <div class="card animated slideInUp hoverable">
      <div class="card-content">
        <div class="btn-floating btn-medium waves-effect waves-light blue lighten-3 center-align modal-trigger" data-target="modal">
          <%= link_to new_log_path, remote: true do %><i class="material-icons">add</i><% end %>
        </div>
        <span class="weight-card">本日の体重を入力する</span>
      </div>
    </div>
  </div>
</div>