<div class="row">
  <div class="col m6 offset-m3 s12">
    <h3>目標管理</h3>
    <div class="card">
      <div class="card-content chash">
        <%= render "form", goal: @goal %>
      </div>
    </div>
  </div>
</div>