/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.weight-card {
  margin-left: 10px;
  font-size: 18px;
}

div .form-group .text-center{
  margin-bottom: 5px;
}

.navi{
  width: 120px;
}

.side-nav{
  width:200px;
}

@media screen and ( max-width:479px )
{
	/* ボディ */
	.weight-card {
		font-size: 15px ;	 /*文字サイズ */
	}
	
	nav .brand-logo {
	  font-size: 1.7rem;
	}
	h3 {
	  font-size: 1.4rem;
	}
	
	.container {
	  width: 100%;
	  margin: 0 auto;
	}
	
	div .jumbotron{
	  margin-top: 10px;
	}
	div .alert{
	  margin-top: 10px;
	}
	
	h1 {
	  font-size:2.5rem;
	}
}