<div class="row">
  <div class="col m6 offset-m3 s12">
    <div class="card">
      <div class="card-content cache">
        <%= render "form_edit", log: @log %>
      </div>
    </div>
  </div>
</div>